*~
.cache/
.extension/
auto-save-list/
backups/
bookmarks/
elpa/
request/
straight/
transient/
url/
var/
.lsp-session*
.org-id-locations
.recentf
*.save
config.el
custom.el
eshell
history
ido.last
network-security.data
org-roam.db
places
projectile-bookmarks.eld
projectile.cache
auto-save-list
session.*
tramp
