*~
.cache/
.lsp-session*
.org-id-locations
.recentf
.smex-items
config.el
auto-save-list/
backups/
bookmarks/
elpa/
request/
transient/
url/
var/
ido.last
org-roam.db
places
projectile-bookmarks.eld
projectile.cache
auto-save-list
eshell
session.*
smex-items
*.save
